##############################################################################################
# This role creates the job value file for stewards
##############################################################################################

---
##############################################################################################
# This tasks ensures the directory of auth job existance, if not exits it creates a new one
- name: Ensures {{ release_dir }}/{{ component_type }}/{{ component_name }} dir exists
  file:
    path: "{{ release_dir  }}/{{ component_type }}/{{ component_name }}"
    recurse: yes
    state: directory

#####################################################################################################################
# This task creates the access policy for trustees
- name: Create access policy for trustees
  vars:
    identity_name: "{{ trusteeItem.name }}"
  template:
    src: "trustee-ro.tpl"
    dest: "./build/{{ organization }}-trustee-ro.hcl"
  when: services.trustees is defined  # Run if policy check failed

##############################################################################################
# Generate vault policy and role for trustee
- name: Trustee vault policy and role generating
  template:
    src: "{{ dlt_templates[component_type] }}"
    dest: "{{ values_file }}"
  vars:
    identity_name: "{{ trusteeItem.name }}"
    vault_path: "{{ organization }}.trustees"
    values_file: "{{ release_dir }}/{{ component_type }}/{{ component_name }}/{{ identity_name }}.yaml"
    chart: "{{ chartName }}"
  loop: "{{ services.trustees }}"
  loop_control:
    loop_var: trusteeItem
  when: services.trustees is defined

#####################################################################################################################
# This task creates the access policy for stewards
- name: Create policy access policy for stewards
  vars:
    identity_name: "{{ stewardItem.name }}"
  template:
    src: "steward-ro.tpl"
    dest: "./build/{{ organization }}-steward-ro.hcl"
  when: services.stewards is defined  # Run if policy check failed

##############################################################################################
# Generate Indy vault policy and role for stewards
- name: Stewards vault policy and role generating
  template:
    src: "{{ dlt_templates[component_type] }}"
    dest: "{{ values_file }}"
  vars:
    identity_name: "{{ stewardItem.name }}"
    vault_path: "{{ organization }}.stewards"
    values_file: "{{ release_dir }}/{{ component_type }}/{{ component_name }}/{{ identity_name }}.yaml"
    chart: "{{ chartName }}"
  loop: "{{ services.stewards }}"
  loop_control:
    loop_var: stewardItem
  when: services.stewards is defined

#####################################################################################################################
# This task creates the access policy for endorser
- name: Create access policy for endorsers
  vars:
    identity_name: "{{ endorserItem.name }}"
  template:
    src: "endorser-ro.tpl"
    dest: "./build/{{ organization }}-endorser-ro.hcl"
  when: services.endorsers is defined  # Run if policy check failed

##############################################################################################
# Generate Indy vault policy and role for endorser
- name: Endorser vault policy and role generating
  template:
    src: "{{ dlt_templates[component_type] }}"
    dest: "{{ values_file }}"
  vars:
    identity_name: "{{ endorserItem.name }}"
    vault_path: "{{ organization }}.endorsers"
    values_file: "{{ release_dir }}/{{ component_type }}/{{ component_name }}/{{ identity_name }}.yaml"
    chart: "{{ chartName }}"
  loop: "{{ services.endorsers }}"
  loop_control:
    loop_var: endorserItem
  when: services.endorsers is defined

#####################################################################################################################
# This task creates the access policy for baf-ac
- name: Create access policy for baf-ac
  vars:
    identity_name: "baf-ac"
  template:
    src: "baf-ac-ro.tpl"
    dest: "./build/{{ organization }}-baf-ac-ro.hcl"

##############################################################################################
# Generate Indy vault policy and role for baf-ac
- name: baf-ac vault policy and role generating
  template:
    src: "{{ dlt_templates[component_type] }}"
    dest: "{{ values_file }}"
  vars:
    identity_name: "baf-ac"
    vault_path: "{{ organization }}.baf-ac"
    values_file: "{{ release_dir }}/{{ component_type }}/{{ component_name }}/{{ identity_name }}.yaml"
    chart: "{{ chartName }}"
